@page "/"

@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Certificate Renewal</h1>

@if (certs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th></th>
                <th>Description</th>
                <th class="d-none d-sm-table-cell">Type</th>
                <th class="d-none d-sm-table-cell">Expires</th>
                <th class="d-none d-sm-table-cell">Days Left</th>
                <th class="d-none d-sm-table-cell">Start Renewal From</th>
                <th>Starting In</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in certs.OrderBy(o=>o.StartRenewalIn))
            {
                <tr>
                    <td>@forecast.Code</td>
                    <td><img src="@forecast.CodeSrc" height="20"/></td>
                    <td>@forecast.Description</td>
                    <td class="d-none d-sm-table-cell">@forecast.Type</td>
                    <td class="d-none d-sm-table-cell">@forecast.Expires.ToShortDateString()</td>
                    <td class="d-none d-sm-table-cell">@forecast.DaysLeft</td>
                    <td class="d-none d-sm-table-cell">@forecast.StartRenewalFrom.ToShortDateString()</td>
                    <td>@forecast.StartRenewalIn</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Cert[]? certs;

    protected override async Task OnInitializedAsync()
    {
        certs = await Http.GetFromJsonAsync<Cert[]>("cert-data/certs.json");
    }

    public class Cert
    {
        public string? Code { get; set; }
        public string? CodeSrc => $"img/{Code}.png";
        public string? Description { get; set; }
        public string? Type { get; set; }
        public DateTime Expires { get; set; }
        public int DaysLeft => (int)(Expires - DateTime.UtcNow).TotalDays;
        public DateTime StartRenewalFrom => Expires.AddDays(-180);
        public int StartRenewalIn => DaysLeft - 180;


    }
}
